<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyzátor barev</title>
    {{ bootstrap.load_css() }}
    <link href="../static/style.css" rel="stylesheet">
</head>
<body>

<header>
    <div class="container py-0">
    <a href="/" style="text-decoration: none; color: inherit;"><h4>Analyzátor barev ve zvoleném obrázku</h4></a>
</div>

</header>

{% block content %}
{% endblock %}


</body>
<footer>
    <div class="container py-0">
        <p>© 2024 jan-barto</p>
    </div>
</footer>
